
form > div{
	width: 500px;
	height: auto;
	float: right;
	margin-right: 50px;
	border-radius: 15px;
	background: gray;
	color: white;
	box-shadow: 15px 15px 5px black;
}

body{
	background: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 520px;
}

.fila{
    text-align: center;
    width: 480px;
    margin: 10px;
    height: 50px;	

}

h1{
	text-align: center;
}


a.button, a.button:link, input[type="submit"]{
	background-color: red;
	text-transform: uppercase;
	border-radius: 5px;
	height: 30px;
	border-width: 0px;
	box-shadow: 5px 5px 5px black;
	font-weight: 700;
	display: block;
	text-decoration: none;
	color: black;
	width: 200px;
	float: left;
	font-family: "arial";
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	margin: 20px; 
}

a.button:active, input[type="submit"]:active{
	background-color: yellow;

}

#menu ul{
	float: right;
	margin-right: 50px;
	margin-top: 50px; 
	list-style: none;
}

#menu ul li{
	width: 234px;
}


#menu ul li a, #menu ul li a:link{
	text-decoration: none;
	background: gray;
	width: 200px;
	display: block;
	text-align: center;
	height: 30px;
	font-size: 23px;
	margin: 20px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	color: white;
}

#menu ul li span{
	background: black;
	width: 30px;
	height: 30px;
	display: none;
}

#menu ul li a:active{
	border-color: red;
	color: red;
}

table{
	float: right;
	border: 1px;
	background: gray;
	color: white;
	text-align: center;
	border-radius: 2px;
	box-shadow: 5px 5px 5px black;
}

td{
	width: 100px;
	height: auto;
	background: rebeccapurple;
	min-height: 35px;
}

tr td:nth-child(6), tr td:nth-child(7), tr td:nth-child(8)
{
	width: 35px;
	background: white;
}

thead td{
	background: gray !important;
	text-transform: uppercase;
}


.vista
{
	float: left;
	width: 250px;
	background: white;
	color: black;
	display: none;
	margin-top: 50px;
	border-radius: 15px;
	text-align: center;
	opacity: 0.75;
}

.vista div{
	padding: 5px;
}

.fila span, .fila input[type="number"], input[type="password"], input[type="date"], input[type="text"] , .fila select{
	width: 220px;
	display: block;
	float: left;
}